// Breakpoints

$break-tiny: 320px;
$break-414: 414px;
$break-mobile: 420px;
$break-small: 600px;
$break-700: 700px;
$break-medium: 768px;
$break-trip: 900px;
$break-large: 1024px;
$break-larger: 1090px;
$break-xl: 1280px;
$break-gigantic: 1600px;
$footer-med-break: $break-medium + 107px;
$phone-header-break: 660px;
$max-width: 1100px;


//  Colours

$white: #ffffff;
$black: #2E3038;
